version: '3.8'
services:
    cloudflare-ddns:
        image: favonia/cloudflare-ddns:latest
        restart: unless-stopped
        container_name: ddns
        user: "1000:1000"
        # Run the updater with specific user and group IDs (in that order).
        # You can change the two numbers based on your need.
        read_only: true
        # Make the container filesystem read-only (optional but recommended)
        cap_drop: [all]
        # Drop all Linux capabilities (optional but recommended)
        security_opt: [no-new-privileges:true]
        # Another protection to restrict superuser privileges (optional but recommended)
        env_file: ./.env
        environment:
            - CLOUDFLARE_API_TOKEN=${CLOUDFLARE_DNS_API_TOKEN}
            # Your Cloudflare API token
            - DOMAINS=rss.kenluu.org,freshrss.kenluu.org,linkding.kenluu.org,freshrss-linkding.kenluu.org, freshrss-mcp.kenluu.org, crawl.kenluu.org
            # Your domains (separated by commas)
            - PROXIED=true
            # Tell Cloudflare to cache webpages and hide your IP (optional)
            - IP6_PROVIDER=none
        networks:
          - frontend

    rss:
        # image: 'heussd/fivefilters-full-text-rss:latest'
        image: 'fulltextrss:latest'
        build:
            context: ./docker/full-text-rss
            dockerfile: dockerfile
        container_name: rss
        environment:
            # Leave empty to disable admin section
            - FTR_ADMIN_PASSWORD=admin
            - TZ=Asia/Ho_Chi_Minh
        volumes:
            # - './persistent/fulltextrss/:/var/www/html/cache/rss'
            - './persistent/fulltextrss/custom_config.php:/var/www/html/custom_config.php'
        restart: unless-stopped
        # ports:
        #     - '8001:80'
        # labels:
        #     - "traefik.enable=true"
        #     - "traefik.http.routers.fullfeedrss.rule=Host(`rss.kenluu.org`)"
        #     - "traefik.http.routers.fullfeedrss.entrypoints=websecure"
        #     - "traefik.http.routers.fullfeedrss.tls.certresolver=letsencrypt"
        #     - "traefik.http.services.fullfeedrss.loadbalancer.server.port=80"
        #     - "traefik.http.middlewares.fullfeedrss-auth.basicauth.users=${FULLFEEDRSS_AUTH}"
        #     - "traefik.http.routers.fullfeedrss.middlewares=fullfeedrss-auth@docker"
            
        networks:
            - frontend
            
            
    freshrss:
        container_name: freshrss
        environment:
            - PUID=1000
            - PGID=1000
            - TZ=Asia/Ho_Chi_Minh
        volumes:
            - ./persistent/freshrss:/config
        restart: unless-stopped
        image: lscr.io/linuxserver/freshrss:latest
        networks:
            - frontend
    freshrss-linkding:
        # dedicated container just for linkding stream
        # for read it later only
        container_name: freshrss-linkding
        environment:
            - PUID=1000
            - PGID=1000
            - TZ=Asia/Ho_Chi_Minh
            - CRON_MIN=*/1
        volumes:
            - ./persistent/freshrss-linkding:/config
        restart: unless-stopped
        image: lscr.io/linuxserver/freshrss:latest
        networks:
            - frontend
    linkding:
        image: 'sissbruecker/linkding:latest'
        container_name: linkding
        volumes:
            - './persistent/linkding-config:/etc/linkding/data'
        restart: unless-stopped
        # labels:
        #     - "traefik.enable=true"
        #     - "traefik.http.routers.linkding.rule=Host(`linkding.kenluu.org`)"
        #     - "traefik.http.routers.linkding.entrypoints=websecure"
        #     - "traefik.http.routers.linkding.tls.certresolver=letsencrypt"
        #     - "traefik.http.services.linkding.loadbalancer.server.port=9090"
        networks:
            - frontend
        environment:
          - LD_DISABLE_REQUEST_LOGS=true
    watchtower:  
        image: containrrr/watchtower  
        container_name: watchtower-rss
        volumes:  
            - /var/run/docker.sock:/var/run/docker.sock  
        environment:  
            - WATCHTOWER_CLEANUP=true  
            - WATCHTOWER_SCHEDULE=0 0 3 * * * 
            - TZ=Asia/Ho_Chi_Minh 
        networks:  
            - frontend
        restart: unless-stopped
        command:
            rss freshrss linkding freshrss-linkding
    freshrss-cron:
        build: 
            context: ./docker/crontab 
            args:
                MINUTE: "0"
                HOUR: "5"
                DAY_OF_MONTH: "*"
                MONTH: "*"
                DAY_OF_WEEK: "*"
                COMMAND: "/update_freshrss.sh"
        container_name: freshrss-cron
        restart: unless-stopped
        environment:
            - TZ=Asia/Ho_Chi_Minh
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - ./persistent/update_freshrss.sh:/update_freshrss.sh
        networks:
            - frontend

# creating specific network to isolate stack from default docker network.
networks:
  frontend:
    external: true